@media screen and (min-width: 1000px) {
    .hidden {
        display: block;
    }
    .header .header__navbar .header__navbar--button {
        display: none;
    }
    .header .header__navbar .header__navbar--list {
        position: static;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
    }
    .header .header__navbar .header__navbar--list li {
        margin: 0 20px;
        text-align: center;
    }
    .header .header__navbar .header__navbar--list li:hover{
        background-color: transparent;
    }
    .header .header__navbar .header__navbar--list li a {
        padding: 0;
    }
    .header .header__navbar .header__navbar--list li a:hover{
        text-shadow: 0px 0px 30px #ffffff;
    }
    .section-one__first-background {
        background-image: url("../img/images/dont-starvebackground.jpg");
        background-position: center;
        background-size: cover;

    }
    .section-one__second-background {
        background-image: url("../img/images/dont-starvelayer4.png");
        background-position: center;
        background-size: cover;
    }
    .section-one__third-background {
        background-image: url("../img/images/dont-starvelayer2_0.png");
        background-size: auto;
        background-repeat: no-repeat;
        background-position-x: -200px;
        background-position-y: -40px;
    }

    .section-three .section-three__about {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .section-three .section-three__about .section-three__about--text {
        width: 50%;
        text-align: end;
    }
    .section-three .section-three__about .section-three__about--text p {
        padding: 15px 0;
    }
    .section-three .section-three__img {
        width: 30%;
    }
    .section-three .section-three__img img {
        height: auto;
    }
    .footer__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
    }
    
}