.hidden {
    display: none;
}

.visible {
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #181716;
}

.header .header__logo {
    max-width: 150px;

}
.header .header__logo img {
    width: 100%;
}
.header .header__navbar {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.header .header__navbar--button {
    width: 40px;
    height: 40px;
    margin-left: auto;
    padding: 5px;
}

.header .header__navbar--button svg {
    width: 100%;
    height: 100%;
    color: white;
}

.header .header__navbar .header__navbar--list {
    position: absolute;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: 60px;
    background-color: #181716;
    right: 0;
    width: 100%;
}

.header .header__navbar .header__navbar--list li {
    margin-bottom: 15px;
    margin-right: 15px;
    width: 100%;
    text-align: end;
}

.header .header__navbar .header__navbar--list li a {
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 10px;
    font-family: var(--font-text);
}

.header .header__navbar .header__navbar--list li:hover {
    background-color: rgba(190, 190, 190, 0.1);
}