.section-four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.section-four h2 {
    margin: 30px 0;
}
.section-four h3 {
    margin: 20px 0;
}
.section-four h4 {
    margin-top: 20px;
    color: rgb(51, 109, 180);
}
.section-four__img img {
    width: 100%;
    max-width: 800px;
    object-fit: cover;
}

.section-four p {
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin: 10px 0;
    padding: 0 10px;
}

.section-four p strong {
    color: #E4B16E;
}