.section-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.section-three h2 {
    margin: 20px 0;
}
.section-three p {
    margin: 10px 0;
    line-height: 1.7rem;
    padding: 0 10px;
}

.section-three .section-three__img {
    display: flex;
    justify-content: center;
    width: 100%;
    object-fit: cover;
}

.section-three .section-three__img img {
    width: 100%;
    max-width: 500px;
}

.section-three h3 {
    color: rgb(51, 109, 180);
}

.section-three p strong {
    color: #E4B16E;
}