@media screen and (min-width: 600px) {
    .section-one__third-background {
        background-image: url("../img/images/background-tablet.jpg");
    }
    .section-two__gallery .carousel--arrows svg {
        width: 30px;
        height: 30px;
    }
}
@media screen and (min-width: 800px) {
    .section-three p {
        max-width: 800px;
    }
}